/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clearfix + float */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* ********************************** */

header{
    height: 80px;
    background-color: blue;
}

h1{
    text-align: center;
}

header > section{
    width: 100%;
    height: 100%;
}

.header-left{
    width:30%;
    background-color: darkgreen;
}

.header-right{
    width:30%;
    background-color: darkorange;
}

.container-large{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.container{
    width: 80%;
}
.small-clm{
    width: 30%;
    background-color: chartreuse;
}

.big-clm{
    width: 70%;
    background-color: rgb(220, 20, 220);
}

#jumbotron{
    background-color: brown;
    height: 500px;
}