/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clearfix + float */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* ********************************** */

header{
    height: 80px;
    background-color: blue;
}

#jumbotron{
    background-color: brown;
    height: 500px;
}