/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans, sans-serif';
}

html{
    min-width: 1030px;
}

/* Clearfix + float */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* .relative{
    position: relative;
}
.absolute{
    position: absolute;
}
 */
/*?? __________________________________Buttons______________*/
.btn-blue{
    background-color: #0061ff;
    border: none;
}

.btn-blue a {
    color: white;
}

.btn-white{
    background-color: white;
}

/* ?____________________________________________________ */
/* **********************************!HEADER **********************/

header{
    height: 80px;
    line-height: 80px;
    font-size: 17px;
    padding: 0px 10px 0px 10px;
}

header > section{
    width: 100%;
    height: 100%;
    font-size: 15px;
}
/* ?solo per header?? */
header ul{
    list-style: none;
}

header li{
    display: inline;
    padding-right:20px ;
    vertical-align: middle;
    font-weight: 900;
}

/* ?solo per header?? */
header a{
    text-decoration: none;
    color: black;
}

button a{
    text-decoration: none;
}

/* modificare */
i{
    margin-right: 5px;
}

main > section{
    margin-bottom: 50px;
    padding-top: 20px;   
}

footer > section{
    margin-bottom: 20px;
    padding-top: 20px;
}


.small-clm-jumbo > .fa-arrow-down{
    font-size: 40px;
}


.container-large{
    width: 90%;
    margin: 0 auto;
} 

.container{
    width: 85%;
    margin: 0 auto;
}

.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}

.container-list > p {
    margin-bottom: 10px;
    padding-top: 10px;
}  

/* header button */
header button{
    padding: 5px 15px;
}

/* !jumbotron's columns */

.container-link-jumbo > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.jumbotron{
    background-color: #b4d0e7;
    height: 620px; 
}

.jumbotron-title{
    font-size: 70px;
    padding: 50px 0 20px 0;
}


.small-clm-jumbo{
    width: 30%;
}

.big-clm-jumbo{
    width: 70%;
}

.small-clm-jumbo > p{
    margin-bottom: 20px;
}
.container-link-jumbo{
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 14px;

}

.big-clm-jumbo > img{
    width: 100%;   
}

.jumbotron button{
    padding: 10px 18px;
    font-size: 15px;
}
/*  ***************************! MAIN ****************/
/* ?section one's column SMALL-CLM (FIRST AND THIRD SECTION) DELETE CLM-SHORT */
/* ! FIRST section  3 column + 1 row  */
input[type='radio'] { 
    transform: scale(1.3); 
}
.radio-left{
    margin-right: 20px;
}

.radio{
    font-size: 18px;
    font-weight: 500;
}
.small-clm{
    width: calc(100% / 3);
    margin-bottom: 20px;
    border:1px solid lightgrey;
}

/* ?used also inside the third section */
.middle{
    width: calc((100% / 3) - 20px);
    margin:0 10px; 
}

.row-small{
    width: 100%;
    border:1px solid lightgrey;
}

.business-plans > h2{
    padding-top: 100px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radio-container{
    margin-bottom: 20px;
}

.container-list-plans{
    padding-top: 15px;
    padding-left: 20px;
}

.container-list-plans > ul > li {
    display: block;
    margin-bottom: 10px;
}

.business-plans h5{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 15px;
    font-weight: 700;
}

.container-list-plans > ul > li{
    font-size: 15px;
}

.business-plans h3,h4,h6{
    margin-bottom: 15px;
}

.business-plans h6{
    color:rgba(183,190,196,255);
    margin-bottom: 30px;
}

.business-plans  h3{
    font-weight:900;
}

.container-list-plans > ul{
    margin-bottom: 40px;
}

.container-list-plans > ul > li{
    margin-bottom: 20px;
}

.bottom-list-plans{
    padding-bottom: 100px;
}

.container-list-plans > button{
    margin-bottom: 20px;
}

.container-list-plans p{
    margin-bottom: 50px;
    font-size: 13px;
}

.container-list-plans p>a{
    color: #0061ff;

}

.business-plans hr{
    border:none;
    border-top:1px solid lightgrey;
}

/* ROW FIRST SECTION */
.row-small h5{
    text-align: center;
    font-size: 15px;
    padding: 10px 0 10px 0;
}

.content-row{
    padding:20px 20px 20px 20px;
}

.icon-blue{
    color: #0061ff;
}
.hr-short{
    width: 15%;
    height: 0px;
    border: none;
    border-top: 1px solid lightgrey;
}

.small-clm button{
    padding: 7px 50px;
}

.row-small button{
    padding: 7px 70px;
}
/* _________________________________________________________________ */
/* secction 2 COLUMN ONLY FOR THE SECOND SECTION 50% 50% */
/* ! SECOND section  2 column  */

.clm-img{
    width: 60%;
}

.clm-text{
    width: 40%;
}


.clm-text > p{
    margin-bottom: 30px;
}

.clm-text{
    padding-top: 100px;
}

.clm-text > h2{
    font-size: 30px;
    padding-bottom:20px ;
} 

.clm-text button{
    border: 1.3px solid black;
    padding: 5px 13px;
    font-size: 15px;
}
/* ! THIRD section  : 2 row con 3 column each one  */
.title-third-section{
    font-size: 30px;
    margin-bottom: 40px;
}

.small-clm-img{
    width: calc(100% / 3);
    margin-bottom: 20px;
    padding-left:20px ;
}

.middle-clm-img{
    width: calc(100% / 3);
}

.small-clm-img > .small-img{
    width: 80%;
}

.small-clm-img > h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.row-bottom{
    margin-bottom: 130px;
}

.container-title-link > h2{
    width: 630px;
    margin-bottom: 30px;
    font-size: 50px;
}
.container-title-link > a{
    color:#2275ff;
}
/* !Fourth section  with 3 columns : 2 with images and the middle one with text  SVG IMG */
.column-image-brands{
    width: 30%;
    /* height per provare svg */
    height: 350px;
}

.column-designit{
    width: 40%;
    /* height per provare svg */
    height:350px;
    padding: 10px 10px 20px;
    background-color:#f5f5f5 ;
}

.column-designit > p{
    margin-bottom: 20px;
    /* prova svg */
    padding-top: 100px;
}

/* ****************************************************** SVG TRY ***********************************************/ù

.relative{
    position: relative;
}

.absolute{
    position:absolute;
}

.svg-middle{
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.svg-img-green{
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
    top: 0;
    left: 0;
    border:10px solid #d0e9cd ;
}

.svg-img-green > object{
    filter: invert(1);
}

.svg-img-darkred{
    width: 50%;
    height: 50%;
    top:0;
    right:0;
    background-color: #61082b;
}


.svg-img-cyano{
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    bottom:0;
    left:0;
    
}

.svg-img-strongred{
    width: 50%;
    height: 175px;
    bottom:0;
    right: 0;
    background-color: #ff1c1c;
    
}

.svg-img-weakred{
    background-color: #d5001f;
    width: 50%;
    height: 175px;
    top:0;
    left:0;
}

.svg-img-lightblue{
    width: 50%;
    height: 50%;
    top:0;
    right:0;
    background-color: #b4d0e7;
}

.svg-img-blue{
    width: 50%;
    height: 50%;
    bottom:0;
    left: 0;
    background-color:#0d2481 ;
    
}

.svg-img-yellow{
    width: 50%;
    height: 50%;
    bottom:0;
    right: 0;
    background-color: #ffd830;

}

.container-logo-designit > .logo-designit{
    top:20px;
    left:20px;
    width:30%;
}

.container-svg{
    margin-bottom: 0;
}

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

/* ***************************************************************** END SVG'S SECTION******************* */

/* !FIFTH SECTION */
.clm-left-title{
    width: 50%;
    height:300px;
}

.clm-left-title > h2{
    color:#61082b;
    font-size: 50px;
}
.clm-right-button{
    width: 50%;
    height:150px;
}

.clm-right-button button{
    border: none;
    padding: 7px 70px;
    font-size: 15px;
}

.clm-left-title > h2{
    margin: 50px 20px 50px 60px;
}

.clm-right-button > .container-btn{
    margin: 60px 50px 60px 100px;
}

.back-blue{
    background-color: rgba(180,208,231,255);
}

/* !SIXTH SECTION FAQ */
.faq-container{
    height: 500px;
    padding-top: 60px;
}

.faq-container li{
    font-weight: 900;
    font-size: 18px;
}

.faq-container > h1{
    margin-bottom: 50px;
    font-size: 40px;
    padding-left: 20px;
}

.item-faq{
    border-bottom: 1px solid black;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
    width:100% ;
}
.item-faq > a{
    text-decoration: none;
    color:black;
}

.first-li{
    border-top: 1px solid black;
}
/* !FOOTER */
footer{
    background-color: black;
    height: 400px;
    padding: 40px 20px 40px 0;
    color: white;
} 
.column-footer{
    width: calc(20% - 40px);
    /* margin-right:10px; */
    margin-left: 40px;
    margin-bottom: 50px;
    padding: 0 10px 0 30px;
}

.list-footer > li{
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}

.title-li-footer{
    font-size: 18px;
    margin-bottom: 25px;
}

.contaiener-languages{
    padding-top: 10px;
    color:lightgray;
}

footer select{
    background: none;
    color: lightgrey;
    border: none;
}
footer option{
    color: black;
}


/* ? id  */
#logo{
    padding-right: 30px;
    vertical-align: middle;
}

/* 2nd section img */
#partner-img{
    width: 90%;
}

#hr-footer{
    width: 80px;
    margin-left: 60px;
    border: none;
    border-top: 1px solid white;
}

